In [15]:
import pandas as pd
import numpy as np

In [16]:
df_mdm = pd.read_csv('limit/mdm/mdm_limit_summary.csv')
df_mdm = df_mdm.drop(df_mdm.columns[0],axis=1)
df_mdm = df_mdm.rename(columns={'avg_mdm_limit_runtime': 'mdm_runtime'})
df_mdm

,offertimes,mdm_rep,mdm_rep_runtime,total_mdm_loss,total_mdm_loss_se,avg_mdm_loss,avg_mdm_loss_se,mdm_runtime
0,20,0.0,0.000439,35.089511,1.029803,0.004584,0.000135,97.730743
1,30,0.0,0.000472,27.217377,0.974042,0.003615,0.000129,5.358292
2,40,0.0,0.000433,18.465862,0.870235,0.002509,0.000118,0.836701
3,50,0.0,0.000301,11.890351,0.892916,0.001654,0.000124,0.201675
4,60,0.0,0.000253,8.507300,0.825931,0.001201,0.000117,0.068891

In [17]:
df_rum = pd.read_csv('limit/rum/rum_limit_summary.csv')
df_rum = df_rum.drop(df_rum.columns[0],axis=1)
df_rum = df_rum.rename(columns={'avg_rum_limit_runtime': 'rum_runtime'})
df_rum

,offertimes,total_rum_loss,total_rum_loss_se,avg_rum_loss,avg_rum_loss_se,rum_runtime,rum_rep
0,20,29.321150,0.958511,0.003830,0.000125,5355.872401,0.00
1,30,22.187164,0.938804,0.002947,0.000125,4331.737159,0.00
2,40,14.583898,0.857137,0.001981,0.000116,3644.840216,0.00
3,50,8.585696,0.820120,0.001194,0.000114,3108.806945,0.00
4,60,6.064231,0.760626,0.000856,0.000107,2863.829743,0.04

In [18]:
df_mem = pd.read_csv('limit/mem/mem_limit_summary.csv')
df_mem = df_mem.drop(df_mem.columns[0],axis=1)
df_mem = df_mem.rename(columns={'avg_mem_limit_runtime': 'mem_runtime'})
df_mem

,offertimes,total_mem_loss,total_mem_loss_se,avg_mem_loss,avg_mem_loss_se,mem_runtime
0,20,95.599340,2.800617,0.012488,0.000366,18.408008
1,30,81.672053,2.840935,0.010848,0.000377,15.822888
2,40,64.480302,2.683650,0.008760,0.000365,16.129484
3,50,48.582520,2.395156,0.006757,0.000333,16.318681
4,60,38.993648,2.312811,0.005506,0.000327,22.464432

In [19]:
df_mnl = pd.read_csv('limit/mnl/mnl_limit_summary.csv')
df_mnl = df_mnl.drop(df_mnl.columns[0],axis=1)
df_mnl = df_mnl.rename(columns={'avg_mnl_limit_runtime': 'mnl_runtime'})
df_mnl

,offertimes,mnl_rep,mnl_rep_runtime,total_mnl_loss,total_mnl_loss_se,avg_mnl_loss,avg_mnl_loss_se,mnl_runtime
0,20,0.0,0.000144,236.182925,3.800958,0.030853,0.000497,0.258483
1,30,0.0,0.000225,214.136409,3.832030,0.028442,0.000509,0.246722
2,40,0.0,0.000270,185.772978,3.634913,0.025237,0.000494,0.237927
3,50,0.0,0.000327,155.570696,3.466264,0.021637,0.000482,0.235323
4,60,0.0,0.000320,135.515760,3.115895,0.019135,0.000440,0.237786

In [20]:
df_mccm = pd.read_csv('limit/mccm/mccm_limit_summary.csv')
df_mccm = df_mccm.drop(df_mccm.columns[0],axis=1)
df_mccm = df_mccm.rename(columns={'avg_mccm_limit_runtime': 'mccm_runtime'})
df_mccm

,offertimes,total_mccm_loss,total_mccm_loss_se,avg_mccm_loss,avg_mccm_loss_se,mccm_runtime
0,20,36.715851,1.029740,0.004796,0.000135,599.083187
1,30,27.671420,0.919718,0.003675,0.000122,761.105921
2,40,17.989138,0.985292,0.002444,0.000134,514.440836
3,50,9.646535,0.834958,0.001342,0.000116,339.754596
4,60,6.467233,0.833142,0.000913,0.000118,466.141473

In [21]:
df_lcmnl = pd.read_csv('limit/lcmnl/lcmnl_limit_summary.csv')
df_lcmnl = df_lcmnl.drop(df_lcmnl.columns[0],axis=1)
df_lcmnl = df_lcmnl.rename(columns={'avg_lcmnl_limit_runtime': 'lcmnl_runtime'})
df_lcmnl

,offertimes,total_lcmnl_loss,total_lcmnl_loss_se,avg_lcmnl_loss,avg_lcmnl_loss_se,lcmnl_runtime
0,20,54.790824,2.536538,0.007158,0.000331,2114.440923
1,30,40.816556,1.467249,0.005421,0.000195,2241.195410
2,40,31.705640,3.887736,0.004307,0.000528,2646.293190
3,50,23.891906,5.484987,0.003323,0.000763,2481.704641
4,60,16.202362,3.527019,0.002288,0.000498,1892.705337

In [22]:
limit_result = pd.concat([df_mdm['offertimes'],
                          df_mdm['total_mdm_loss'],df_mdm['total_mdm_loss_se'],df_mdm['mdm_runtime'],
                          df_rum['total_rum_loss'],df_rum['total_rum_loss_se'],df_rum['rum_runtime'],
                          df_mem['total_mem_loss'],df_mem['total_mem_loss_se'],df_mem['mem_runtime'],
                          df_mnl['total_mnl_loss'],df_mnl['total_mnl_loss_se'],df_mnl['mnl_runtime'],
                          df_mccm['total_mccm_loss'],df_mccm['total_mccm_loss_se'],df_mccm['mccm_runtime'],
                          df_lcmnl['total_lcmnl_loss'],df_lcmnl['total_lcmnl_loss_se'],df_lcmnl['lcmnl_runtime']], axis=1)
limit_result.to_csv('limit/summary/total_loss_summary.csv')
limit_result

,offertimes,total_mdm_loss,total_mdm_loss_se,mdm_runtime,total_rum_loss,total_rum_loss_se,rum_runtime,total_mem_loss,total_mem_loss_se,mem_runtime,total_mnl_loss,total_mnl_loss_se,mnl_runtime,total_mccm_loss,total_mccm_loss_se,mccm_runtime,total_lcmnl_loss,total_lcmnl_loss_se,lcmnl_runtime
0,20,35.089511,1.029803,97.730743,29.321150,0.958511,5355.872401,95.599340,2.800617,18.408008,236.182925,3.800958,0.258483,36.715851,1.029740,599.083187,54.790824,2.536538,2114.440923
1,30,27.217377,0.974042,5.358292,22.187164,0.938804,4331.737159,81.672053,2.840935,15.822888,214.136409,3.832030,0.246722,27.671420,0.919718,761.105921,40.816556,1.467249,2241.195410
2,40,18.465862,0.870235,0.836701,14.583898,0.857137,3644.840216,64.480302,2.683650,16.129484,185.772978,3.634913,0.237927,17.989138,0.985292,514.440836,31.705640,3.887736,2646.293190
3,50,11.890351,0.892916,0.201675,8.585696,0.820120,3108.806945,48.582520,2.395156,16.318681,155.570696,3.466264,0.235323,9.646535,0.834958,339.754596,23.891906,5.484987,2481.704641
4,60,8.507300,0.825931,0.068891,6.064231,0.760626,2863.829743,38.993648,2.312811,22.464432,135.515760,3.115895,0.237786,6.467233,0.833142,466.141473,16.202362,3.527019,1892.705337

In [23]:
avg_loss_result = pd.concat([df_mdm['offertimes'],
                          df_mdm['avg_mdm_loss'],df_mdm['avg_mdm_loss_se'],df_mdm['mdm_runtime'],
                          df_rum['avg_rum_loss'],df_rum['avg_rum_loss_se'],df_rum['rum_runtime'],
                          df_mem['avg_mem_loss'],df_mem['avg_mem_loss_se'],df_mem['mem_runtime'],
                          df_mnl['avg_mnl_loss'],df_mnl['avg_mnl_loss_se'],df_mnl['mnl_runtime'],
                          df_mccm['avg_mccm_loss'],df_mccm['avg_mccm_loss_se'],df_mccm['mccm_runtime'],
                          df_lcmnl['avg_lcmnl_loss'],df_lcmnl['avg_lcmnl_loss_se'],df_lcmnl['lcmnl_runtime']], axis=1)
avg_loss_result.to_csv('limit/summary/average_loss_summary.csv')
avg_loss_result

,offertimes,avg_mdm_loss,avg_mdm_loss_se,mdm_runtime,avg_rum_loss,avg_rum_loss_se,rum_runtime,avg_mem_loss,avg_mem_loss_se,mem_runtime,avg_mnl_loss,avg_mnl_loss_se,mnl_runtime,avg_mccm_loss,avg_mccm_loss_se,mccm_runtime,avg_lcmnl_loss,avg_lcmnl_loss_se,lcmnl_runtime
0,20,0.004584,0.000135,97.730743,0.003830,0.000125,5355.872401,0.012488,0.000366,18.408008,0.030853,0.000497,0.258483,0.004796,0.000135,599.083187,0.007158,0.000331,2114.440923
1,30,0.003615,0.000129,5.358292,0.002947,0.000125,4331.737159,0.010848,0.000377,15.822888,0.028442,0.000509,0.246722,0.003675,0.000122,761.105921,0.005421,0.000195,2241.195410
2,40,0.002509,0.000118,0.836701,0.001981,0.000116,3644.840216,0.008760,0.000365,16.129484,0.025237,0.000494,0.237927,0.002444,0.000134,514.440836,0.004307,0.000528,2646.293190
3,50,0.001654,0.000124,0.201675,0.001194,0.000114,3108.806945,0.006757,0.000333,16.318681,0.021637,0.000482,0.235323,0.001342,0.000116,339.754596,0.003323,0.000763,2481.704641
4,60,0.001201,0.000117,0.068891,0.000856,0.000107,2863.829743,0.005506,0.000327,22.464432,0.019135,0.000440,0.237786,0.000913,0.000118,466.141473,0.002288,0.000498,1892.705337

In [24]:
avg_loss_result = pd.concat([df_mdm['offertimes'],
                          df_mdm['avg_mdm_loss'],
                          df_rum['avg_rum_loss'],
                          df_mem['avg_mem_loss'],
                          df_mnl['avg_mnl_loss'],
                          df_mccm['avg_mccm_loss'],
                          df_lcmnl['avg_lcmnl_loss']], axis=1)
avg_loss_result

,offertimes,avg_mdm_loss,avg_rum_loss,avg_mem_loss,avg_mnl_loss,avg_mccm_loss,avg_lcmnl_loss
0,20,0.004584,0.003830,0.012488,0.030853,0.004796,0.007158
1,30,0.003615,0.002947,0.010848,0.028442,0.003675,0.005421
2,40,0.002509,0.001981,0.008760,0.025237,0.002444,0.004307
3,50,0.001654,0.001194,0.006757,0.021637,0.001342,0.003323
4,60,0.001201,0.000856,0.005506,0.019135,0.000913,0.002288

In [26]:
avg_loss_se_result = pd.concat([df_mdm['offertimes'],
                         df_mdm['avg_mdm_loss_se'],
                         df_rum['avg_rum_loss_se'],
                         df_mem['avg_mem_loss_se'],
                         df_mnl['avg_mnl_loss_se'],
                         df_mccm['avg_mccm_loss_se'],
                         df_lcmnl['avg_lcmnl_loss_se']], axis=1)
avg_loss_se_result

,offertimes,avg_mdm_loss_se,avg_rum_loss_se,avg_mem_loss_se,avg_mnl_loss_se,avg_mccm_loss_se,avg_lcmnl_loss_se
0,20,0.000135,0.000125,0.000366,0.000497,0.000135,0.000331
1,30,0.000129,0.000125,0.000377,0.000509,0.000122,0.000195
2,40,0.000118,0.000116,0.000365,0.000494,0.000134,0.000528
3,50,0.000124,0.000114,0.000333,0.000482,0.000116,0.000763
4,60,0.000117,0.000107,0.000327,0.000440,0.000118,0.000498