In [1]:
import pandas as pd
import numpy as np

In [15]:
df_mdm = pd.read_csv('limit/summary/mdm_limit_summary.csv')
df_mdm = df_mdm.drop(df_mdm.columns[0],axis=1)
df_mdm

   offertimes   mdm_loss  avg_mdm_loss  mdm_limit_runtime
0          20  61.539667      0.008039          16.726812
1          30  55.567515      0.007380           6.037370
2          40  49.851186      0.006772           1.644473
3          50  37.014595      0.005148           0.588080
4          60  31.294445      0.004419           0.229502
5          75  30.078567      0.004288           0.227669
6         100  30.078567      0.004336           0.184779

In [16]:
df_rum = pd.read_csv('limit/summary/rum_limit_summary.csv')
df_rum = df_rum.drop(df_rum.columns[0],axis=1)
df_rum

   offertimes   rum_loss  avg_rum_loss  rum_limit_runtime  rum_solver_runtime
0          20  56.724170      0.007410         126.973082            3.603294
1          30  51.585484      0.006852         107.641489            2.615132
2          40  47.358654      0.006434          88.861326            2.084884
3          50  34.168607      0.004752          74.893178            2.001352
4          60  29.650174      0.004187          64.534657            1.565290
5          75  29.499938      0.004205          62.552825            1.341965
6         100  29.499938      0.004253          56.296840            1.467995

In [17]:
df_mnl = pd.read_csv('limit/summary/mnl_limit_summary.csv')
df_mnl = df_mnl.drop(df_mnl.columns[0],axis=1)
#df_mnl = df_mnl.rename(columns={'total_mnl_loss': 'mnl_loss'})
df_mnl

     mnl_loss  avg_mnl_loss  mnl_limit_runtime
0  258.734487      0.033799           0.228111
1  239.652081      0.031831           0.236472
2  214.225171      0.029103           0.259305
3  172.007146      0.023923           0.252010
4  142.648731      0.020142           0.236779
5  141.805059      0.020215           0.237868
6  134.518513      0.019391           0.478462

In [18]:
df_mccm = pd.read_csv('limit/summary/mccm_limit_summary.csv')
df_mccm = df_mccm.drop(df_mccm.columns[0],axis=1)
df_mccm

   offertimes   mccm_loss  mccm_limit_runtime
0          20  218.294740           30.130095
1          30  197.536701           17.218676
2          40  166.094072            7.526283
3          50   83.972853            2.118375
4          60   68.136779            1.742772
5          75   57.894749            1.729044
6         100   50.391942            2.049280

In [19]:
df_lcmnl = pd.read_csv('limit/summary/lcmnl_limit_summary.csv')
df_lcmnl = df_lcmnl.drop(df_lcmnl.columns[0],axis=1)
df_lcmnl

   offertimes  lcmnl_loss  avg_lcmnl_loss  lcmnl_limit_runtime
0          20  101.296149        0.013233            75.667320
1          30   82.877288        0.011008            80.473350
2          40   85.906000        0.011670            94.031553
3          50   66.432120        0.009240            67.067113
4          60   55.981128        0.007905            71.974360
5          75   55.966978        0.007978            80.520300
6         100   55.979596        0.008070            68.130978

In [20]:
df_mem = pd.read_csv('limit/summary/mem_limit_summary.csv')
df_mem = df_mem.drop(df_mem.columns[0],axis=1)
#df_mem = df_mem.rename(columns={'total_mem_loss': 'mem_loss'})
df_mem

     mem_loss  avg_mem_loss  mem_limit_runtime
0  133.920812      0.017495           0.307991
1  125.371786      0.016652           0.347865
2  116.195578      0.015785           0.362538
3   93.710843      0.013033           0.305427
4   80.108671      0.011312           0.295169
5   75.564403      0.010772           0.306293
6   74.843813      0.010789           0.520295

In [21]:
df_mem = pd.read_csv('limit/summary/mem_limit_summary.csv')
df_mem = df_mem.drop(df_mem.columns[0],axis=1)
#df_mem = df_mem.rename(columns={'total_mem_loss': 'mem_loss'})
df_mem

     mem_loss  avg_mem_loss  mem_limit_runtime
0  133.920812      0.017495           0.307991
1  125.371786      0.016652           0.347865
2  116.195578      0.015785           0.362538
3   93.710843      0.013033           0.305427
4   80.108671      0.011312           0.295169
5   75.564403      0.010772           0.306293
6   74.843813      0.010789           0.520295

In [22]:
df_indep = pd.read_csv('limit/summary/indep_limit_summary.csv')
df_indep = df_indep.drop(df_indep.columns[0],axis=1)
#df_mem = df_mem.rename(columns={'total_mem_loss': 'mem_loss'})
df_indep

   offertimes   indep_loss  avg_indep_loss  indep_limit_runtime
0          20  4117.000000        0.537818             0.001921
1          30  4020.333333        0.533980             0.001474
2          40  3890.333333        0.528506             0.001333
3          50  3742.333333        0.520491             0.000895
4          60  3654.333333        0.516003             0.000533
5          75  3607.000000        0.514184             0.000569
6         100  3575.000000        0.515352             0.000699

In [23]:
limit_result = pd.concat([df_mdm['offertimes'],
                    df_mdm['mdm_loss'],
                    df_mem['mem_loss'],
                    df_mnl['mnl_loss'],
                    df_rum['rum_loss'],
                    df_mccm['mccm_loss'],
                    df_lcmnl['lcmnl_loss'],
                    df_indep['indep_loss']
                    ], axis=1)
limit_result.to_csv('limit/total_loss_summary.csv')
limit_result

,offertimes,mdm_loss,mem_loss,mnl_loss,rum_loss,mccm_loss,lcmnl_loss,indep_loss
0,20,61.539667,133.920812,258.734487,56.724170,218.294740,101.296149,4117.000000
1,30,55.567515,125.371786,239.652081,51.585484,197.536701,82.877288,4020.333333
2,40,49.851186,116.195578,214.225171,47.358654,166.094072,85.906000,3890.333333
3,50,37.014595,93.710843,172.007146,34.168607,83.972853,66.432120,3742.333333
4,60,31.294445,80.108671,142.648731,29.650174,68.136779,55.981128,3654.333333
5,75,30.078567,75.564403,141.805059,29.499938,57.894749,55.966978,3607.000000
6,100,30.078567,74.843813,134.518513,29.499938,50.391942,55.979596,3575.000000

In [24]:
limit_result = pd.concat([df_mdm['offertimes'].round(3),
                    df_mdm['mdm_loss'].round(3),
                    df_rum['rum_loss'].round(3),
                    df_mem['mem_loss'].round(3),
                    df_mnl['mnl_loss'].round(3),
                    df_mccm['mccm_loss'].round(3),
                    df_lcmnl['lcmnl_loss'].round(3),
                    df_indep['indep_loss'].round(3)
                    ], axis=1)
limit_result.to_csv('limit/total_loss_round3.csv')
limit_result

,offertimes,mdm_loss,rum_loss,mem_loss,mnl_loss,mccm_loss,lcmnl_loss,indep_loss
0,20,61.540,56.724,133.921,258.734,218.295,101.296,4117.000
1,30,55.568,51.585,125.372,239.652,197.537,82.877,4020.333
2,40,49.851,47.359,116.196,214.225,166.094,85.906,3890.333
3,50,37.015,34.169,93.711,172.007,83.973,66.432,3742.333
4,60,31.294,29.650,80.109,142.649,68.137,55.981,3654.333
5,75,30.079,29.500,75.564,141.805,57.895,55.967,3607.000
6,100,30.079,29.500,74.844,134.519,50.392,55.980,3575.000

In [25]:
total_offertimes = pd.read_csv('total_offertimes.csv')
total_offertimes = total_offertimes.drop(total_offertimes.columns[0],axis=1)
total_offertimes = total_offertimes.values.tolist()
total_offertimes_lst = []
for i in range(len(total_offertimes)):
    total_offertimes_lst.append(total_offertimes[i][0])
total_offertimes_lst

[7654, 7529, 7361, 7190, 7082, 7015, 6937]

In [26]:
avg_mdm_loss = []
avg_rum_loss = []
avg_mnl_loss = []
avg_mccm_loss = []
avg_lcmnl_loss = []
avg_mem_loss = []
for i in range(len(total_offertimes_lst)):
    avg_mdm_loss.append(df_mdm['mdm_loss'][i]/total_offertimes_lst[i])
    avg_mem_loss.append(df_mem['mem_loss'][i]/total_offertimes_lst[i])
    avg_mnl_loss.append(df_mnl['mnl_loss'][i]/total_offertimes_lst[i])
    avg_rum_loss.append(df_rum['rum_loss'][i]/total_offertimes_lst[i])
    avg_mccm_loss.append(df_mccm['mccm_loss'][i]/total_offertimes_lst[i])
    avg_lcmnl_loss.append(df_lcmnl['lcmnl_loss'][i]/total_offertimes_lst[i])
avg_limit_loss_summary = pd.DataFrame({'avg_mdm_loss':avg_mdm_loss,'mdm_time':df_mdm['mdm_limit_runtime'],
                                       'avg_rum_loss':avg_rum_loss,'rum_runtime':df_rum['rum_limit_runtime'],
                                       'avg_mem_loss':avg_mem_loss,'mem_time':df_mem['mem_limit_runtime'],
                                       'avg_mnl_loss':avg_mnl_loss,'mnl_time':df_mnl['mnl_limit_runtime'],
                                       'avg_mccm_loss':avg_mccm_loss,'mccm_runtime':df_mccm['mccm_limit_runtime'],
                                       'avg_lcmnl_loss':avg_lcmnl_loss,'lcmnl_runtime':df_lcmnl['lcmnl_limit_runtime'],
                                       'avg_indep_loss':df_indep['avg_indep_loss'],'indep_runtime':df_indep['indep_limit_runtime']})
avg_limit_loss_summary.to_csv('limit/avg_loss_summary.csv')
avg_limit_loss_summary

,avg_mdm_loss,mdm_time,avg_rum_loss,rum_runtime,avg_mem_loss,mem_time,avg_mnl_loss,mnl_time,avg_mccm_loss,mccm_runtime,avg_lcmnl_loss,lcmnl_runtime,avg_indep_loss,indep_runtime
0,0.008040,16.726812,0.007411,126.973082,0.017497,0.307991,0.033804,0.228111,0.028520,30.130095,0.013234,75.667320,0.537818,0.001921
1,0.007380,6.037370,0.006852,107.641489,0.016652,0.347865,0.031831,0.236472,0.026237,17.218676,0.011008,80.473350,0.533980,0.001474
2,0.006772,1.644473,0.006434,88.861326,0.015785,0.362538,0.029103,0.259305,0.022564,7.526283,0.011670,94.031553,0.528506,0.001333
3,0.005148,0.588080,0.004752,74.893178,0.013033,0.305427,0.023923,0.252010,0.011679,2.118375,0.009240,67.067113,0.520491,0.000895
4,0.004419,0.229502,0.004187,64.534657,0.011312,0.295169,0.020142,0.236779,0.009621,1.742772,0.007905,71.974360,0.516003,0.000533
5,0.004288,0.227669,0.004205,62.552825,0.010772,0.306293,0.020215,0.237868,0.008253,1.729044,0.007978,80.520300,0.514184,0.000569
6,0.004336,0.184779,0.004253,56.296840,0.010789,0.520295,0.019391,0.478462,0.007264,2.049280,0.008070,68.130978,0.515352,0.000699

In [28]:
avg_mdm_loss = []
avg_rum_loss = []
avg_mnl_loss = []
avg_mccm_loss = []
avg_lcmnl_loss = []
avg_mem_loss= []
for i in range(len(total_offertimes_lst)):
    avg_mdm_loss.append(df_mdm['mdm_loss'][i]/total_offertimes_lst[i]*1000)
    avg_rum_loss.append(df_rum['rum_loss'][i]/total_offertimes_lst[i]*1000)
    avg_mnl_loss.append(df_mnl['mnl_loss'][i]/total_offertimes_lst[i]*1000)
    avg_mccm_loss.append(df_mccm['mccm_loss'][i]/total_offertimes_lst[i]*1000)
    avg_lcmnl_loss.append(df_lcmnl['lcmnl_loss'][i]/total_offertimes_lst[i]*1000)
    avg_mem_loss.append(df_mem['mem_loss'][i]/total_offertimes_lst[i]*1000)
    
avg_limit_loss_summary = pd.DataFrame({'avg_mdm_loss':np.array(avg_mdm_loss).round(2),'mdm_time':df_mdm['mdm_limit_runtime'].round(2),
                                       'avg_rum_loss':np.array(avg_rum_loss).round(2),'rum_runtime':df_rum['rum_limit_runtime'].round(2),
                                       'avg_mem_loss':np.array(avg_mem_loss).round(2),'mem_time':df_mem['mem_limit_runtime'].round(2),
                                       'avg_mnl_loss':np.array(avg_mnl_loss).round(2),'mnl_time':df_mnl['mnl_limit_runtime'].round(2),
                                       'avg_mccm_loss':np.array(avg_mccm_loss).round(2),'mccm_runtime':df_mccm['mccm_limit_runtime'].round(2),
                                       'avg_lcmnl_loss':np.array(avg_lcmnl_loss).round(2),'lcmnl_runtime':df_lcmnl['lcmnl_limit_runtime'].round(2),
                                       'avg_indep_loss':df_indep['avg_indep_loss']*1000,'indep_runtime':df_indep['indep_limit_runtime']})
avg_limit_loss_summary.to_csv('limit/avg_loss_10-3_time.csv')
avg_limit_loss_summary

,avg_mdm_loss,mdm_time,avg_rum_loss,rum_runtime,avg_mem_loss,mem_time,avg_mnl_loss,mnl_time,avg_mccm_loss,mccm_runtime,avg_lcmnl_loss,lcmnl_runtime,avg_indep_loss,indep_runtime
0,8.04,16.73,7.41,126.97,17.50,0.31,33.80,0.23,28.52,30.13,13.23,75.67,537.818419,0.001921
1,7.38,6.04,6.85,107.64,16.65,0.35,31.83,0.24,26.24,17.22,11.01,80.47,533.979723,0.001474
2,6.77,1.64,6.43,88.86,15.79,0.36,29.10,0.26,22.56,7.53,11.67,94.03,528.506091,0.001333
3,5.15,0.59,4.75,74.89,13.03,0.31,23.92,0.25,11.68,2.12,9.24,67.07,520.491423,0.000895
4,4.42,0.23,4.19,64.53,11.31,0.30,20.14,0.24,9.62,1.74,7.90,71.97,516.003012,0.000533
5,4.29,0.23,4.21,62.55,10.77,0.31,20.21,0.24,8.25,1.73,7.98,80.52,514.183892,0.000569
6,4.34,0.18,4.25,56.30,10.79,0.52,19.39,0.48,7.26,2.05,8.07,68.13,515.352458,0.000699